<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <% if(locals.settings.env === 'production') { %>
    <link rel="stylesheet" href="/<%= manifest['bundle.css'] %>">
  <% } %>
</head>
<body>
  <div class="container">
    <pre><code><%= JSON.stringify(locals, null, 2) %></code></pre>
  </div>
  <script src="/<%= locals.settings.env === 'production' ? manifest['bundle.js'] : 'bundle.js' %>"></script>  
</body>
</html>